class_02/example.txt
expenses.csv
kapoor_tasks.txt
prateek_tasks.txt
users.txt
Applied Data Science with Python/class6/6.01_Linear_Algebra.ipynb
Applied Data Science with Python/class6/6.02_Statistics_Fundamentals.ipynb
Applied Data Science with Python/class7/7.01_Probability_Distribution.ipynb
Applied Data Science with Python/class6/dataset/image1.jpg
Machine Learning/Capstone Session 5/Capstone_Session_5.pdf
.venv/
__pycache__/
Deep Learning/class4/src/data/
